<nav class="navbar">
  <div class="nav">
    <div class="title">
      <h1>
        <a href="/" class="headIcon"
          ><i class="fa-brands fa-blogger"></i>logs</a
        >
      </h1>
    </div>
    <style>
      .fa-blogger {
        color: rgb(72, 171, 238);
      }
      .headIcon:hover {
        color: rgb(72, 171, 238);
      }
      .headIcon:hover .fa-blogger {
        color: black;
      }
      #button {
        background-color: rgb(72, 171, 238);
        border: 2px solid rgb(72, 171, 238);
        border-radius: 15px;
        padding: 10px 10px;
        color: white;
      }
      #button:hover {
        background-color: white;
        color: rgb(72, 171, 238);
      }
      .burger {
        font-size: 3rem;

        cursor: pointer;
      }
      .burger span {
        display: block;
        width: 2rem;
        margin-bottom: 5px;
        background-color: rgb(72, 171, 238);
        height: 3px;
      }
    </style>
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="nav-links display">
      <a href="create">Create</a>
      <% if(!user) { %>
      <a href="signup">Sign Up</a>
      <a href="login">Log in</a>
      <% } %> <% if(user) { %>
      <a href="logout">Log Out</a>
      <% } %>
    </div>
  </div>
  <script>
    const burger = document.querySelector(".burger");
    const navLinks = document.querySelector(".nav-links");
    burger.addEventListener("click", () => {
      navLinks.classList.toggle("display");
    });
  </script>
</nav>
