<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="create.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="form-card">
      <form class="form">
        <h1>Create A Blog</h1>
        <div class="inputs">
          <div class="left">
            <label for="title">Title: </label>
            <input type="text" name="title" required />
            <div class="error title"></div>
            <label for="snippet">Snippet: </label>
            <input type="snippet" name="snippet" required />
            <div class="error snippet"></div>
          </div>
          <div class="right">
            <label for="body">Body: </label>
            <textarea
              name="body"
              id=""
              cols="30"
              rows="10"
              style="resize: none"
            ></textarea>
          </div>
        </div>
        <button>Create</button>
      </form>
    </div>

    <script>
      const form = document.querySelector("form");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        // get values
        const title = form.title.value;
        const snippet = form.snippet.value;
        const text = form.body.value.trim();

        try {
          const res = await fetch("/", {
            method: "POST",
            body: JSON.stringify({
              title,
              snippet,
              text,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          });
          const blog = await res.json();

          if (blog) {
            location.assign("/");
          }
        } catch (error) {
          console.log(error);
        }
      });
    </script>
  </body>
</html>
